@import 'wvu-variables';
@import 'vendor/normalize-8.0.1.min';
@import 'vendor/splidejs-2.4.4.min';

// Define the "system" font family
// We're not loading fonts from fonts.com, so this is a decent substitute.
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: 3px dotted $wvu-accent--red;
}

// Style the `body` based on the template name:
.infostations-slideshow {
  background: #111;
  color: #eaeaea;
  font-family: "system";
}

.splide img {
  height: auto;
  width: 100%;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.splide__skip-link:active,
.splide__skip-link:focus {
  background-color: #fff;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 0;
  z-index: 20;
}

.splide__error-message {
  color: #fff;
}

.splide__slide {
  align-items: center;
  display: flex;
}

.splide__progress {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.splide__progress__bar {
  background-color: $wvu-gold;
  height: 7px;
}

.splide__state-controls {
  position: absolute;
  top: 7px;
  background-color: #1a202c;
  min-width: 80px;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  z-index: 10;
}

.splide__play-pause {
  background-color: $wvu-blue;
  border: 2px solid #00142b;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  transition: all .2s ease-in-out;
  width: 3rem;
}

.splide__play-pause-icon {
  left: 2px;
  position: relative;
  top: 1px;
}

.splide__play-pause-icon--pause {
  left: 1px;
  top: 0;
}

.splide__arrow {
  background-color: $wvu-blue;
  color: #fff;
  height: 3rem;
  opacity: 1;
  transition: all .2s ease-in-out;
  width: 3rem;
}

.splide__arrow svg {
  fill: currentColor;
}

.splide__play-pause:hover,
.splide__play-pause:focus,
.splide__arrow:hover,
.splide__arrow:focus {
  background-color: $wvu-gold;
  border-radius: 0;
  color: #000;
}

.splide__slide-number,
.splide__slide-url-container {
  background-color: rgba(12, 12, 12, .8);
  bottom: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
}

.splide__slide-number {
  left: 0;
  right: auto;
  z-index: 20;
}

.splide__slide-number-p {
  margin-top: 0;
  margin-bottom: 0;
}

.splide__slide-url-link {
  color: $wvu-gold;
}

.splide__slide-url-link:hover {
  text-decoration: none;
}
