<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Admin Hero:</strong> This is meant for an intro paragraph and 3-4 action items to the right. Use it more for administrative sites that do not need fancy marketing visuals.</p>
  </div>
</r:edit_mode_only>
