<r:edit_mode_only>
  <section class="p5 bg-wvu-accent--yellow">
    <p><strong>Instructions for Action Hero:</strong> This is meant to direct a user to take an action e.g. register for an event, apply for admission, etc.</p>
  </section>
</r:edit_mode_only>
