<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Twitter Widget:</strong> In order to use this, you must create a <a href="https://dev.twitter.com/web/embedded-timelines">Twitter Widget</a>. Log in to Twitter and go <a href="https://twitter.com/settings/widgets/new">here</a>. Then enter the ID of the widget in your site properties under twitter_widget_id. Tweets will automatically display here.</p>
  </div>
</r:edit_mode_only>
