@mixin wvu-slash($color, $width, $position) {
  position: relative !important;
  z-index: 0 !important;
  &:before {
    background-color: $color;
    content: '' !important;
    position: absolute !important;
    right: 0;
    left: -.5em;
    height: $wvu-slash-height;
    max-height: 15rem;
    top: -25%;
    width: $wvu-slash-width;
    opacity: 1 !important;
    z-index: $wvu-z-index-slash !important;
    -ms-transform: skewX(149deg) !important; /* IE 9 */
    -webkit-transform: skewX(149deg) !important; /* Safari */
    transform: skewX(149deg) !important;
  }
  @if $color == 'white' {
    &:before {
      background-color: $wvu-neutral--white !important;
    }
  }
  @if $color == 'blue' {
    &:before {
      background-color: $wvu-blue !important;
    }
  }
  @if $width == 'skinny' {
    &:before {
      left: -.25em !important;
      width: $wvu-slash-width * .5 !important;
    }
  }
  @if $position == 'center' {
    display: inline-block !important;
    &:before {
      left: auto !important;
      right: calc(50% - .5em) !important;
    }
  }
  @if $position == 'center-bottom' {
    display: inline-block !important;
    &:before {
      bottom: 0 !important;
      left: auto !important;
      right: calc(50% - .5em) !important;
      top: auto !important;
    }
  }
  @if $position == 'right' {
    display: inline-block !important;
    &:before {
      left: auto !important;
      right: -1em !important;
    }
  }
  @if $position == 'right-bottom' {
    display: inline-block !important;
    &:before {
      bottom: 0 !important;
      left: auto !important;
      right: -1em !important;
      top: auto !important;
    }
  }
}

@mixin wvu-slashes($color) {
  list-style-type: none;
  li {
    display: block !important;
    position: relative !important;
    z-index: 0 !important;
    &:before {
      background-color: $color !important;
      content: '' !important;
      height: 1em !important;
      position: absolute !important;
      width: .5em !important;
      left: -1.5rem !important;
      top: .25em !important;
      z-index: $wvu-z-index-slash !important;
      -ms-transform: skewX(149deg) !important; /* IE 9 */
      -webkit-transform: skewX(149deg) !important; /* Safari */
      transform: skewX(149deg) !important;
    }
  }
}

// NOTE: This is for breadcrumbs.

@mixin wvu-slash-list() {
  li {
    display: inline-block;
    &:before {
      content: ' / '
    }
    &:first-child {
      &:before {
        content: '';
      }
    }
  }
}
