@mixin wvu-bg-pattern($pattern-type) {
  @if $pattern-type == 'wvu-blue' {
    background-color: $wvu-blue !important;
    background-image: url($wvu-white-pattern) !important;
    background-position: center !important;
    background-size: cover !important;
  }
  @if $pattern-type == 'wvu-gold' {
    background-color: $wvu-gold !important;
    background-image: url($wvu-gold-pattern) !important;
    background-position: center !important;
    background-size: cover !important;
  }
  @if $pattern-type == 'wvu-transparent' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-white-pattern);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
  @if $pattern-type == 'slashes-gold-blue' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-slashes-gold-blue);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
  @if $pattern-type == 'slashes-gold-blue-white' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-slashes-gold-blue-white);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
  @if $pattern-type == 'grid' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-grid-pattern);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
  @if $pattern-type == 'grid-transparent' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-grid-pattern-transparent);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
  @if $pattern-type == 'grid-zoomed' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-grid-pattern-zoomed);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
  @if $pattern-type == 'grid-zoomed-transparent' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-grid-pattern-zoomed-transparent);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
  @if $pattern-type == 'topo-dark' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-topo-map-black);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
  @if $pattern-type == 'topo-light' {
    background-size: cover;
    position: relative;
    &:before {
      background-image: url($wvu-topo-map-white);
      background-position: center;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $wvu-z-index-grid;
    }
  }
}
