@mixin wvu-bar($wvu-bar-color, $wvu-bar-position) {
  position: relative !important;
  @if $wvu-bar-position == 'top' {
    margin-top: $spacer !important;
    &:before {
      background-color: $wvu-bar-color !important;
      content: '' !important;
      height: 1rem * .5 !important;
      position: absolute !important;
      top: -2rem !important;
      width: $wvu-bar-width !important;
    }
  }
  @if $wvu-bar-position == 'bottom' {
    margin-bottom: $spacer !important;
    margin-top: 0 !important;
    &:before {
      display: none !important;
    }
    &:after {
      background-color: $wvu-bar-color !important;
      bottom: -1rem !important;
      content: '' !important;
      height: 1rem * .5 !important;
      left: 0 !important;
      position: absolute !important;
      width: $wvu-bar-width !important;
    }
  }
}
