---
layout: default
custom_data_attributes:
  - agenda_id
  - alternate_url
  - backpage_has_sidebar
  - backpage_has_subnav
  - backpage_header
  - backpage_header_badge
  - backpage_main
  - bgcolor_adverts
  - bgcolor_backpage
  - bgcolor_calendar_widget
  - bgcolor_diptych
  - bgcolor_diptych_2
  - bgcolor_diptych_3
  - bgcolor_featurettes
  - bgcolor_featurettes_2
  - bgcolor_gallery
  - bgcolor_lede_text
  - bgcolor_media_object
  - bgcolor_pentaptych
  - bgcolor_pentaptych_2
  - bgcolor_pentaptych_3
  - bgcolor_polyptych
  - bgcolor_profiles
  - bgcolor_profiles_index
  - bgcolor_quadriptych
  - bgcolor_quadriptych_2
  - bgcolor_quadriptych_3
  - bgcolor_quicklinks
  - bgcolor_social_media
  - bgcolor_super_nav
  - bgcolor_testimonials
  - bgcolor_triptych
  - bgcolor_triptych_2
  - bgcolor_triptych_3
  - bgcolor_twitter
  - bgcolor_video
  - calendar_url_page
  - directory_id
  - featurettes_id
  - featurettes_2_id
  - hero_has_video
  - hero_text_alignment
  - hero_vignetting
  - jquery_defer_page
  - link_text
  - polyptych_items
  - profile_quote
  - profile_quote_author
  - profiles_id
  - search_action
  - search_index_id
  - show_instructions
  - slot_01
  - slot_02
  - slot_03
  - slot_04
  - slot_05
  - slot_06
  - slot_07
  - slot_07
  - slot_08
  - slot_09
  - slot_10
  - staff_directory_id
  - testimonials_id
  - thumbnail_alt
  - thumbnail_url
  - thumbnail_url_sq
  - tradition_alignment
---



<r:partial name="patterns/wvu-backpage-header" />

<div class="wvu-container">

  <main id="maincontent" class="<r:page:data name="bgcolor_backpage" /> background main <r:if v1="{$backpage_has_sidebar}" v2="false" op="=">main--wide</r:if> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">

    <r:edit_mode_only>
      <p><strong>Main body text:</strong></p>
    </r:edit_mode_only>

    <r:editable_region name="main">
      <p>Let's see if we can help you find what you're looking for:</p>

      <ul>
        <li>Check that the web address you entered doesn't contain a typo.</li>
        <li>Try searching this site for the page you're looking for or enter your search terms on Search.wvu.edu.</li>
        <li><a href="http://www.google.com/">Google it</a>.</li>
      </ul>
    </r:editable_region>
  </main>

  <r:partial name="patterns/wvu-sidebar" />

</div> <!-- /.wvu-container -->
