---
layout: blank
custom_data_attributes:
  - infostations_xml_feed_url:
    type: url
    title: "InfoStations XML Feed"
    description: "Paste the XML feed from virtual.infostations.wvu.edu above."
    placeholder: "https://virtual.infostations.wvu.edu/custom-data/covid19.xml"
---

<r:comment>
  <!-- NOTE: This template was created for the InfoStations crew to display their feeds during COVID on PCs for online teaching. -->
  <!-- The JS relies on XML that comes from their stack and won't work in any generic context. -->
  <!-- Built with help from SplideJS: https://splidejs.com/ -->
</r:comment>

<r:content_for name="header_extras">
  <r:include_stylesheet name="infostations-slideshow" />
</r:content_for>

<r:set_var name="skip_link_classes" value="splide__skip-link" />

<div class="splide js-fullscreen-image-slider" data-feed-url="<r:page:data name="infostations_xml_feed_url" />">
  <h1 class="sr-only"><r:page:first_non_blank_attr names="alternate_name, name" /></h1>
  <div class="splide__progress">
    <div class="splide__progress__bar"></div>
  </div> <!-- /.splide__progress -->

  <div class="splide__state-controls">
    <button class="splide__play-pause">
      <span class="splide__play-pause-icon splide__play-pause-icon--pause">❚❚</span>
    </button>
  </div> <!-- /.splide__state-controls -->

  <div class="splide__slide-number">
    <p class="splide__slide-number-p" aria-live="polite" aria-atomic="true">
      <span class="sr-only">Slide </span>
      <span class="splide__slide-number-current">1</span> of <span class="splide__slide-number-total">9</span>
    </p>
  </div> <!-- /.splide__slide-number -->

  <div class="splide__slider">
    <div class="splide__track">
      <ul class="splide__list"></ul>
    </div> <!-- /.splide__track -->
  </div> <!-- /.splide__slider -->
</div> <!-- /.splide -->

<r:content_for name="page_js">
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=document,Promise,fetch,Set,String.prototype.includes,Element.prototype.prepend,URL,WeakSet"></script>
  <r:include_javascript name="vendor/splide-2.4.4.min, infostations-slideshow" />
</r:content_for>