---
layout: default
custom_data_attributes:
  - agenda_id
  - alternate_url
  - backpage_has_sidebar
  - backpage_has_subnav
  - backpage_header
  - backpage_header_badge
  - backpage_main
  - bgcolor_adverts
  - bgcolor_backpage
  - bgcolor_calendar_widget
  - bgcolor_diptych
  - bgcolor_diptych_2
  - bgcolor_diptych_3
  - bgcolor_featurettes
  - bgcolor_featurettes_2
  - bgcolor_gallery
  - bgcolor_lede_text
  - bgcolor_media_object
  - bgcolor_pentaptych
  - bgcolor_pentaptych_2
  - bgcolor_pentaptych_3
  - bgcolor_polyptych
  - bgcolor_profiles
  - bgcolor_profiles_index
  - bgcolor_quadriptych
  - bgcolor_quadriptych_2
  - bgcolor_quadriptych_3
  - bgcolor_quicklinks
  - bgcolor_social_media
  - bgcolor_super_nav
  - bgcolor_testimonials
  - bgcolor_triptych
  - bgcolor_triptych_2
  - bgcolor_triptych_3
  - bgcolor_video
  - calendar_url_page
  - description:
    type: text
    rows: 4
    tile: Description
    required: false
    maxlength: 255
  - directory_id
  - featurettes_id
  - featurettes_2_id
  - hero_has_video
  - hero_text_alignment
  - hero_vignetting
  - jquery_defer_page
  - link_text
  - polyptych_items
  - profile_quote
  - profile_quote_author
  - profiles_id
  - rss_url
  - search_action
  - search_index_id
  - show_instructions
  - slot_01
  - slot_02
  - slot_03
  - slot_04
  - slot_05
  - slot_06
  - slot_07
  - slot_07
  - slot_08
  - slot_09
  - slot_10
  - staff_directory_id
  - testimonials_id
  - thumbnail_alt
  - thumbnail_url
  - thumbnail_url_sq
  - tradition_alignment
---


<!-- Slots 01 - 03 -->

<r:set_var name="backpage_header" value="{$backpage_header}" default="true">
  <r:page:data name="backpage_header" />
</r:set_var>

<r:if v1="{$backpage_header}" v2="0" op="!=">
  <r:partial name="patterns/wvu-backpage-header" />
</r:if>

<r:partial name="patterns/wvu-profiles-index" />

<!-- Slots 04 - 10 -->

<r:partial name="patterns/wvu-backpage-partials--bottom" />
