---
layout: default
custom_data_attributes:
  - agenda_id
  - alternate_url
  - alternating_tiles_text_color
  - backpage_has_sidebar
  - backpage_has_subnav
  - backpage_header:
    type: checkbox
    title: Remove header?
  - backpage_header_badge
  - breadcrumbs:
    type: checkbox
    title: Remove breadcrumbs?
  - calendar_url_page
  - cards_id
  - contact_link
  - description:
    type: text
    rows: 4
    tile: Description
    required: false
    maxlength: 255
  - directory_id
  - directory_2_levels:
    type: checkbox
    title: Is directory 2 levels deep?
  - featurettes_id
  - featurettes_1_id
  - hero_has_video
  - hero_text_alignment:
    type: checkbox
    title: Shift hero text to the right
  - is_profile
  - isotope_classes
  - link_text
  - playlist_id
  - polyptych_items
  - polyptych_1_items
  - polyptych_2_items
  - polyptych_3_items
  - polyptych_4_items
  - polyptych_5_items
  - polyptych-card-columns_1_items
  - profile_quote
  - profile_quote_author
  - profiles_id
  - search_action
  - search_index_id
  - show_instructions:
    type: checkbox
    title: Hide instructions
  - sidebar_sticky_page
  - staff_directory_id
  - testimonials_id
  - thumbnail_alt
  - thumbnail_url
  - thumbnail_url_sq
  - tradition_alignment
---

<r:set_var name="breadcrumbs" value="{$breadcrumbs}" default="true">
  <r:page:data name="breadcrumbs" />
</r:set_var>

<r:set_var name="backpage_header" value="{$backpage_header}" default="true">
  <r:page:data name="backpage_header" />
</r:set_var>

<r:if_not_equal x="{$breadcrumbs}" y="0">
  <r:partial name="patterns/wvu-breadcrumbs" />
</r:if_not_equal>

<r:if_not_equal x="{$backpage_header}" y="1">
  <r:partial name="patterns/wvu-backpage-header" />
</r:if_not_equal>

<r:partial name="patterns/wvu-marks" />
