<r:set_var name="componentName">
  adverts
</r:set_var>

<r:set_var name="advertsLabels">
  <r:page:slug />,<r:var name="componentName" />
</r:set_var>

<r:set_var name="bgurl">
  <r:page:slug />,<r:var name="componentName" />,background
</r:set_var>

<r:set_var name="patternBgcolor">
  --wvu-blue
</r:set_var>

<r:set_var name="patternClasses">
  <r:page:content name="wvu-adverts-classes" />
</r:set_var>

<div class="wvu-adverts py-5 <r:page:content name="wvu-adverts-classes" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container">

    <r:page:if_has_content_for region="wvu-adverts__header" always_show_in_edit_mode="true">
      <r:editable_region name="wvu-adverts__header">
        <h2 class="display-3 wvu-shout">Advertisements Header</h2>
        <p class="lead mt-2 mb-4">
          Subhead goes here.
        </p>
      </r:editable_region>
    </r:page:if_has_content_for>

    <r:root>

      <r:descendants labels="{$advertsLabels}" labels_match="all" by="title" order="asc" hidden="true">
        <div class="row">
          <r:partial name="utilities/wvu-item-count" />
          <r:each>
            <div class="<r:var name="columnClasses" />">
              <div class="card <r:site:data name="classes_wvu-adverts__card" /> shadow mb-3">
                <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}"><img class="card-img" src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:if expr="{{ NOT(BLANK(thumbnail_alt)) }}"><r:page:data name="thumbnail_alt" /></r:if>" /></r:if><r:if expr="{{ BLANK(thumbnail_url) }}"><img src="http://via.placeholder.com/960x640" alt="Placeholder" /></r:if>
                <a class="text-white" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>">
                  <div class="card-img-overlay wvu-vignetting--80 position-absolute">
                    <h3 class="card-title <r:site:data name="classes_wvu-adverts__heading" /> wvu-slash wvu-z-index-content"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                    <p class="card-text wvu-z-index-content">
                      <small>
                        <r:page:meta_description />
                      </small>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </r:each>
        </div>
      </r:descendants>

    </r:root>

  </div>
</div>

<r:content_for name="wvu-adverts-default-component-classes">
  text-center
</r:content_for>

<r:content_for name="wvu-component-instructions">
  Here are the instructions.
</r:content_for>

<r:partial name="utilities/wvu-default-component-classes" />

<r:partial name="utilities/wvu-component-instructions" />
