<div class="wvu-calendar-widget wvu-calendar-widget--<r:site:id /> <r:page:data name="classes_wvu-calendar-widget" />">
  <div class="wvu-calendar-widget__container">

    <r:page:if_has_content_for region="wvu-calendar-widget__header" always_show_in_edit_mode="true">
      <div class="wvu-calendar-widget__header">
        <r:editable_region name="wvu-calendar-widget__header">
          <h2>Calendar Widget Header</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="wvu-calendar-widget__feed">
      <r:editable_region name="wvu-calendar-widget__feed">
        Drop a Calendar Event Feed snippet right here.
      </r:editable_region>
    </div>

    <div class="wvu-calendar-widget__postscript">
      <r:editable_region name="wvu-calendar-widget__postscript" scope="site">
        Put any additional info or links here.
      </r:editable_region>
    </div>

  </div>
</div>

<r:partial name="patterns/instructions/wvu-calendar-widget" theme="Code" />
