<div class="container py-5">
  <div class="row">
    <div class="col-lg-3">

      <h2 class="h5 helvetica-neue-bold">Round 1</h2>

      <div>
        <div class="bg-light border border-dark mb-2">
          <div class="p-2 border-bottom border-dark">
            <div class="row align-items-center">
              <div class="col-3 col-lg-4 pr-0">
                <img class="rounded-circle" alt="Jamie Moore" data-asset-id="231859" data-asset-version="400x400"
                src="/files/b101b8bb-0f18-4e18-9376-ed05ce9edd16/400x400?cb=0ed2ab985af4e09789c52aadd9dff1f4">
              </div>
              <div class="col-8">
                <p class="text-wvu-blue mb-0 h4">
                  <span class="wvu-shout">
                    Jamie Moore
                  </span>
                </p>
              </div>
            </div>


          </div>
          <div class="p-2">
            <div class="row align-items-center">
              <div class="col-3 col-lg-4 pr-0">
                <img alt="Joe Riffe" class="rounded-circle" data-asset-id="231861" data-asset-version="0x0"
                src="/files/a8c9da0e-5f10-477a-b61c-27659c04f8d3/0x0?cb=05acc3d1d79b33c82216fb8261248943">
                <br>
              </div>
              <div class="col-8">
                <p class="text-wvu-blue mb-0 h4">
                  <span class="wvu-shout">
                    Joe Riffe
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="bg-light border border-dark mb-2">
          <div class="p-2 border-bottom border-dark">
            <div class="row align-items-center">
              <div class="col-3 col-lg-4 pr-0">
                <img alt="Terry Keenan" class="rounded-circle" data-asset-id="231858" data-asset-version="0x0"
                src="/files/6914ce70-a130-4903-a078-c555be15a641/0x0?cb=b9448aae4a4ca9432ce579989ee0c4b9">
                <br>
              </div>
              <div class="col-8">
                <p class="text-wvu-blue mb-0 h4">
                  <span class="wvu-shout">
                    Terry Keenan
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="row align-items-center">
              <div class="col-3 col-lg-4 pr-0">
                <img alt="Niki Gross" class="rounded-circle" data-asset-id="231860" data-asset-version="0x0"
                src="/files/5333a48b-a074-4c09-ac0b-daabe36620c9/0x0?cb=b7270c962875f98b737e72cc416cd03c">
                <br>
              </div>
              <div class="col-8">
                <p class="text-wvu-blue mb-0 h4">
                  <span class="wvu-shout">
                    Niki Gross
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-flex col-md align-items-center flex-column justify-content-center">
      <h2 class="h5 helvetica-neue-bold align-self-start">Semifinals</h2>
      <div class="w-100">
        <div class="bg-light w-100 mb-5">
          <div class="p-2 border border-dark">
            <r:editable_region name="matchup-1-winner" type="simple">
              Matchup 1 Winner
            </r:editable_region>
          </div>
        </div>
        <div class="bg-light border border-dark w-100">
          <div class="p-2">
            <r:editable_region name="matchup-2-winner" type="simple">
              Matchup 2 Winner
            </r:editable_region>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-flex col-md align-items-center flex-column justify-content-center">
      <h2 class="h5 helvetica-neue-bold">Finals</h2>
      <div class="bg-light border border-dark w-100">
        <div class="p-2 border-bottom border-dark">
          <r:editable_region name="matchup-5-winner" type="simple">
            Matchups TBD
          </r:editable_region>
        </div>
        <div class="p-2">
          <r:editable_region name="matchup-6-winner" type="simple">
            Matchups TBD
          </r:editable_region>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-flex col-md align-items-center flex-column justify-content-center">
      <h2 class="h5 helvetica-neue-bold align-self-end">Semifinals</h2>
      <div class="w-100">
        <div class="bg-light w-100 mb-5">
          <div class="p-2 border border-dark">
            <r:editable_region name="matchup-3-winner" type="simple">
              Matchup 3 Winner
            </r:editable_region>
          </div>
        </div>
        <div class="bg-light border border-dark w-100">
          <div class="p-2">
            <r:editable_region name="matchup-4-winner" type="simple">
              Matchup 4 Winner
            </r:editable_region>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <h2 class="d-none d-lg-block h5 helvetica-neue-bold text-right">Round 1</h2>
      <div>
        <div class="bg-light border border-dark mb-2">
          <div class="p-2 border-bottom border-dark">
            <div class="row align-items-center">
              <div class="col-3 col-lg-4 pr-0">
                <img alt="Steven Saab" class="rounded-circle" data-asset-id="231862" data-asset-version="0x0"
                src="/files/6796a59d-50d5-435a-8c0c-d59cf9d4b144/0x0?cb=12f14e7b63064b2fbda1c8ded1fd76e0">
                <br>
              </div>
              <div class="col-8">
                <p class="text-wvu-blue mb-0 h4">
                  <span class="wvu-shout">
                    Steven Saab
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="row align-items-center">
              <div class="col-3 col-lg-4 pr-0">
                <img alt="Layne Veneri" class="rounded-circle" data-asset-id="231863" data-asset-version="0x0"
                src="/files/e7dd2f2a-a5a8-4912-a3ee-89da6610c25d/0x0?cb=af3d9704698e83a04339debce3617ad2">
                <br>
              </div>
              <div class="col-8">
                <p class="text-wvu-blue mb-0 h4">
                  <span class="wvu-shout">
                    Layne Veneri
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="bg-light border border-dark mb-2">
          <div class="p-2 border-bottom border-dark">
            <div class="row align-items-center">
              <div class="col-3 col-lg-4 pr-0">
                <img alt="The Braxton Family" class="rounded-circle" data-asset-id="231856" data-asset-version="0x0"
                src="/files/920af176-3535-4521-bc7a-1569c35ce7a9/0x0?cb=3a30798ece62a3dbcd7261620e419492">
                <br>
              </div>
              <div class="col-8">
                <p class="text-wvu-blue mb-0 h4">
                  <span class="wvu-shout">
                    The Braxton Family
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="row align-items-center">
              <div class="col-3 col-lg-4 pr-0">
                <img alt="Stan Gould" class="rounded-circle" data-asset-id="231857" data-asset-version="0x0"
                src="/files/668287bf-c11c-463a-bd86-219350ab0629/0x0?cb=b9b4e2aa9e7028f1ac4f232db0a32d02">
                <br>
              </div>
              <div class="col-8">
                <p class="text-wvu-blue mb-0 h4">
                  <span class="wvu-shout">
                    Stanley Gould
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-lg-none py-5">

    <h2 class="h5 helvetica-neue-bold">Semifinals</h2>
    <div class="bg-light border border-dark mb-2">
      <div class="p-2 border-bottom border-dark">


        <p class="mb-0">
          <r:page:content name="matchup-1-winner" />
        </p>

      </div>
      <div class="p-2">

        <p class="mb-0">
          <r:page:content name="matchup-2-winner" />
        </p>
      </div>
    </div>
    <div class="bg-light border border-dark mb-2">
      <div class="p-2 border-bottom border-dark">


        <p class="mb-0">
          <r:page:content name="matchup-3-winner" />
        </p>

      </div>
      <div class="p-2">

        <p class="mb-0">
          <r:page:content name="matchup-4-winner" />
        </p>
      </div>
    </div>

    <h2 class="h5 helvetica-neue-bold mt-5">Finals</h2>
    <div class="bg-light border border-dark mb-2">
      <div class="p-2 border-bottom border-dark">


        <p class="mb-0">
          <r:page:content name="matchup-5-winner" />
        </p>

      </div>
      <div class="p-2">

        <p class="mb-0">
          <r:page:content name="matchup-6-winner" />
        </p>
      </div>
    </div>
  </div>
  <div class="mt-lg-4">
    <r:editable_region name="bracket-postscript" />
  </div>
</div>
