<div class="container py-5">
  <div class="mb-4">
    <r:editable_region name="wvu-header">
      <h2 class="wvu-shout display-4 d-inline-block">West Virginia University</h2>
    </r:editable_region>
    <div class="mt-4">
      <r:editable_region name="flying-wv-header">
        <h3>Flying WV</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="flying-wv-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="flying-wv-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="flying-wv-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="flying-wv-text-2" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="flying-wv-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="flying-wv-text-3" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="flying-wv-img-4" />
            </div>
            <div class="card-text">
              <r:editable_region name="flying-wv-text-4" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <r:editable_region name="athletics-header">
        <h3>Athletics Word Marks</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="athletics-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="athletics-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="athletics-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="athletics-text-2" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="athletics-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="athletics-text-3" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mb-4">
      <r:editable_region name="mascot-header">
        <h3>Mascot Marks</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="mascot-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="mascott-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="mascot-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="mascot-text-2" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <r:editable_region name="musket-header">
        <h3>Musket, Youth Mark</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="musket-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="musket-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="musket-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="musket-text-2" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mb-4">
      <r:editable_region name="helmet-header">
        <h3>Helmet Marks</h3>
      </r:editable_region>
      <div class="row mb-4">

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="helmet-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="helmet-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="helmet-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="helmet-text-2" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="helmet-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="helmet-text-3" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mb-4">
      <r:editable_region name="signature-header">
        <h3>WVU Signature/Logotype </h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="signature-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="signature-text-1" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <r:editable_region name="medicine-header">
        <h3>WVU Medicine</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="medicine-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="medicine-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="medicine-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="medicine-text-2" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <r:editable_region name="seal-header">
        <h3>School Seal</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="seal-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="seal-text-1" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <r:editable_region name="vault-header">
        <h3>College Vault (Vintage Marks) </h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-2" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-3" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-4" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-4" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-5" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-5" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-6" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-6" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-7" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-7" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-8" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-8" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-9" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-9" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-10" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-10" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-11" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-11" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-12" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-12" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-13" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-13" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-14" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-14" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-15" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-15" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-16" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-16" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-17" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-17" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-18" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-18" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-19" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-19" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="vault-img-20" />
            </div>
            <div class="card-text">
              <r:editable_region name="vault-text-20" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <r:editable_region name="colors-header">
        <h3>Official WVU Colors</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="colors-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="colors-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="colors-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="colors-text-2" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mb-4">
      <r:editable_region name="taglines-header">
        <h3>Taglines</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="taglines-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="taglines-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="taglines-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="taglines-text-2" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="taglines-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="taglines-text-3" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <r:editable_region name="patterns-header">
        <h3>Background Patterns </h3>
      </r:editable_region>
      <div class="row mb-4">

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="patterns-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="patterns-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="patterns-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="patterns-text-2" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="patterns-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="patterns-text-3" />
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck mt-2">

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="patterns-img-4" />
            </div>
            <div class="card-text">
              <r:editable_region name="patterns-text-4" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="patterns-img-5" />
            </div>
            <div class="card-text">
              <r:editable_region name="patterns-text-5" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <r:editable_region name="verbiage-header">
        <h3>Verbiage</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="verbiage-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="verbiage-text-2" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mb-4">
      <r:editable_region name="mountaineer-mascot-header">
        <h3>Mountaineer Mascot </h3>
      </r:editable_region>
    </div>

    <div class="mb-4">
      <r:editable_region name="landmarks-header">
        <h3>Campus Landmarks</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-2" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-3" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-4" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-4" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-5" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-5" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-6" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-6" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-7" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-7" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-8" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-8" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-9" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-9" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-10" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-10" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-11" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-11" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-12" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-12" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-13" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-13" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-14" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-14" />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-15" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-15" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-16" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-16" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-17" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-17" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="landmarks-img-18" />
            </div>
            <div class="card-text">
              <r:editable_region name="landmarks-text-18" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <r:editable_region name="traditions-header">
        <h3>Traditions</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="traditions-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="traditions-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="traditions-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="traditions-text-2" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="traditions-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="traditions-text-3" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="traditions-img-4" />
            </div>
            <div class="card-text">
              <r:editable_region name="traditions-text-4" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="traditions-img-5" />
            </div>
            <div class="card-text">
              <r:editable_region name="traditions-text-5" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <r:editable_region name="songs-header">
        <h3>Fight Songs/Chants</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="songs-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="songs-text-1" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="songs-img-2" />
            </div>
            <div class="card-text">
              <r:editable_region name="songs-text-2" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="songs-img-3" />
            </div>
            <div class="card-text">
              <r:editable_region name="songs-text-3" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
          <div class="text-wvu-neutral--black text-center">
            <div class="pt-3 pb-2">
              <r:editable_region name="songs-img-4" />
            </div>
            <div class="card-text">
              <r:editable_region name="songs-text-4" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <r:editable_region name="psc-header">
      <h2 class="wvu-shout display-4 d-inline-block">WVU Potomac State College</h2>
    </r:editable_region>
    <div class="mt-4">
      <r:editable_region name="psc-mascot-header">
        <h3>Mascot Mark</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="psc-mascot-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="psc-mascot-text-1" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mb-4">
      <r:editable_region name="psc-signature-header">
        <h3>WVU Potomac State Signature/Logotype</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="psc-logotype-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="psc-logotype-text-1" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mb-4">
      <r:editable_region name="psc-wordmark-header">
        <h3>Word Mark</h3>
      </r:editable_region>
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
          <div>
            <div class="pt-3 pb-2">
              <r:editable_region name="psc-wordmark-img-1" />
            </div>
            <div class="card-text">
              <r:editable_region name="psc-wordmark-text-1" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <r:editable_region name="tech-header">
        <h2 class="wvu-shout display-4 d-inline-block">WVU Tech</h2>
      </r:editable_region>
      <div class="mt-4">
        <r:editable_region name="tech-mascot-header">
          <h3>Mascot Marks</h3>
        </r:editable_region>
        <div class="row mb-4">
          <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
            <div>
              <div class="pt-3 pb-2">
                <r:editable_region name="tech-mascot-img-1" />
              </div>
              <div class="card-text">
                <r:editable_region name="tech-mascot-text-1" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
            <div>
              <div class="pt-3 pb-2">
                <r:editable_region name="tech-mascot-img-2" />
              </div>
              <div class="card-text">
                <r:editable_region name="tech-mascot-text-2" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <r:editable_region name="tech-signature-header">
          <h3>WVU Tech Signature/Logotype</h3>
        </r:editable_region>
        <div class="row mb-4">
          <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
            <div>
              <div class="pt-3 pb-2">
                <r:editable_region name="tech-signature-img-1" />
              </div>
              <div class="card-text">
                <r:editable_region name="tech-signature-text-1" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <r:editable_region name="tech-wordmark-header">
          <h3>Word Mark</h3>
        </r:editable_region>
        <div class="row mb-4">
          <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
            <div>
              <div class="pt-3 pb-2">
                <r:editable_region name="tech-wordmark-img-1" />
              </div>
              <div class="card-text">
                <r:editable_region name="tech-wordmark-text-1" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-2 text-wvu-neutral--black text-center">
            <div>
              <div class="pt-3 pb-2">
                <r:editable_region name="tech-wordmark-img-2" />
              </div>
              <div class="card-text">
                <r:editable_region name="tech-wordmark-text-2" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
