<r:set_var name="sidebarContent">
  <r:var name="componentName" />__sidebar-content
</r:set_var>

<r:set_var name="sidebarPostscript">
  <r:var name="componentName" />__sidebar-postscript
</r:set_var>

<r:if v1="{$backpage_has_sidebar}" v2="false" op="!=">
  <aside class="wvu-sidebar col-md-4">

    <div class="mb-3">
      <r:page:if_has_content_for region="{$sidebarContent}" always_show_in_edit_mode="true">

        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Sidebar Content</span></r:edit_mode_only>

        <r:editable_region name="{$sidebarContent}" />

      </r:page:if_has_content_for>

      <r:if v1="{$backpage_has_subnav}" v2="false" op="!=">

        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Sub-Nav</span></r:edit_mode_only>
        <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav flex-column border-left border-muted pl-1 mb-3" li_class="nav-item" link_class="nav-link" active_class="active" open_class="nav-secondary--open" />

      </r:if>

      <r:page:if_has_content_for region="{$sidebarPostscript}" always_show_in_edit_mode="true">

        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">More Sidebar Content</span></r:edit_mode_only>

        <r:editable_region name="{$sidebarPostscript}" />

      </r:page:if_has_content_for>

    </div>

  </aside>
</r:if>
