<r:set_var name="adverts_labels">
  <r:page:slug />,advert
</r:set_var>

<div class="wvu-adverts wvu-adverts--<r:site:id /> <r:site:data name="classes_wvu-adverts--anywhere" />">
  <div class="wvu-adverts__container">

    <r:root>

      <r:descendants labels="{$adverts_labels}" labels_match="all" by="title" order="asc">
        <div class="wvu-adverts__adverts wvu-adverts__adverts--<r:count />">
          <r:each>
            <div class="wvu-adverts__advertisement wvu-adverts__advertisement--<r:page:slug />">
              <div class="wvu-adverts__ad-text">
                <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><span><r:page:first_non_blank_attr names="alternate_name,name" /></span></a>
              </div>
              <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:if expr="{{ NOT(BLANK(thumbnail_alt)) }}"><r:page:data name="thumbnail_alt" /></r:if>" /></a>
            </div>
          </r:each>
        </div>
      </r:descendants>

    </r:root>

  </div>
</div>
