<r:set_var name="pageDepth">
  <r:page:depth />
</r:set_var>

<r:set_var name="pageSlug">
  <r:page:slug />
</r:set_var>

<r:if value1="{$pageDepth}" value2="3" op="=">
  <r:set_var name="pageSlug">
    <r:page:parent:slug />
  </r:set_var>
</r:if>

<div class="wvu-background-color-changer my-5">
  <div class="container">

    <ul class="list-unstyled">
      <div class="row">
        <li class="col-md-3 p-1 bg-wvu-gold"><small>.bg-wvu-gold</small></li>
        <li class="col-md-3 p-1 bg-wvu-blue text-white"><small>.bg-wvu-blue</small></li>
        <li class="col-md-3 p-1 bg-wvu-neutral--white"><small>.bg-wvu-white</small></li>
        <li class="col-md-3 p-1 bg-wvu-neutral--black text-white"><small>.bg-wvu-neutral--black</small></li>
        <li class="col-md-3 p-1 bg-wvu-neutral--dark-gray text-white"><small>.bg-wvu-neutral--dark-gray</small></li>
        <li class="col-md-3 p-1 bg-wvu-neutral--light-gray"><small>.bg-wvu-neutral--light-gray</small></li>
        <li class="col-md-3 p-1 bg-wvu-neutral--dark-brown text-white"><small>.bg-wvu-neutral--dark-brown</small></li>
        <li class="col-md-3 p-1 bg-wvu-neutral--brown text-white"><small>.bg-wvu-neutral--brown</small></li>
        <li class="col-md-3 p-1 bg-wvu-neutral--light-brown"><small>.bg-wvu-neutral--light-brown</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--dark-blue text-white"><small>.bg-wvu-accent--dark-blue</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--blue text-white"><small>.bg-wvu-accent--blue</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--light-blue"><small>.bg-wvu-accent--light-blue</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--brown text-white"><small>.bg-wvu-accent--brown</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--mustard text-white"><small>.bg-wvu-accent--mustard</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--orange"><small>.bg-wvu-accent--orange</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--dark-green text-white"><small>.bg-wvu-accent--dark-green</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--green text-white"><small>.bg-wvu-accent--green</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--light-green"><small>.bg-wvu-accent--light-green</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--red text-white"><small>.bg-wvu-accent--red</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--burnt-orange text-white"><small>.bg-wvu-accent--burnt-orange</small></li>
        <li class="col-md-3 p-1 bg-wvu-accent--yellow"><small>.bg-wvu-accent--yellow</small></li>
        <li class="col-md-3 p-1 photo-toggler wvu-bg-photo text-white" style="background-image: url(/files/9f5743c8-b279-4558-9c57-c5d74e8c8770/1780x1780?cb=1529944113); background-size: cover;"><small>Background Image</small></li>
        <li class="col-md-3 p-1 wvu-bg-pattern-gold"><small>.wvu-bg-pattern-gold</small></li>
        <li class="col-md-3 p-1 wvu-bg-pattern-blue text-white"><small>.wvu-bg-pattern-blue</small></li>
        <li class="col-md-3 p-1 wvu-bg-pattern-grid bg-dark text-white"><small>.wvu-bg-pattern-grid</small></li>
        <li class="col-md-3 p-1 wvu-bg-pattern-grid-zoomed bg-dark text-white"><small>.wvu-bg-pattern-grid-zoomed</small></li>
        <li class="col-md-3 p-1 wvu-bg-pattern-confetti-gold-blue"><small>.wvu-bg-pattern-confetti-gold-blue</small></li>
        <li class="col-md-3 p-1 wvu-bg-pattern-confetti-gold-blue-white"><small>.wvu-bg-pattern-confetti-gold-blue-white</small></li>
        <li class="col-md-3 p-1 wvu-bg-blend-mode-lighten bg-wvu-blue text-white"><small>.wvu-bg-blend-mode-lighten</small></li>
        <li class="col-md-3 p-1 wvu-bg-blend-mode-luminosity bg-dark text-white"><small>.wvu-bg-blend-mode-luminosity-80</small></li>
      </div>
    </ul>

  </div>
</div>

<r:content_for name="page_js">
  <script type="text/javascript">

    // Have a series of buttons that manipulate background classes of an object
    // When a button gets clicked, change classes in object
      // Certain types of groupings e.g. color, element (grid, zoomed, confetti), pattern, background blend-mode)
      // Do we add classes to body e.g. is_element, is_pattern, is_bg-color, is_blend-mode, and use to check?
      // If a certain color, change from dark to light background
      // If a certain color, swap clases for Slash as well
      // If a pattern, ditch elements
      // If photo active, and color selected, add luminosity
      // Toggle itself to active among its group, deactivate others in group
      // Only one option out of any set can be turned on at the same time. If some are turned on, others may be turned off
    // Put color list into array? Put all classes into array?
    // If in edit-mode, output entire class list into editable region, make bg of each new class flash animate
    // If not in edit-mode, output html of entire component into a code bucket

    // const component = document.querySelector('.<r:page:slug />')
    // const componentUtilities = component.classList
    // const backgroundChanger = document.querySelector('.wvu-background-color-changer')
    //
    // const backgroundColors = [
    //   'gold',
    //   'blue',
    //   'neutral--black',
    //   'neutral--white',
    //   'neutral--dark-gray',
    //   'neutral--light-gray',
    //   'neutral--dark-brown',
    //   'neutral--brown',
    //   'neutral--light-brown',
    //   'accent--blue',
    //   'accent--light-blue',
    //   'accent--brown',
    //   'accent--mustard',
    //   'accent--orange',
    //   'accent--dark-green',
    //   'accent--green',
    //   'accent--light-green',
    //   'accent--red',
    //   'accent--burnt-orange',
    //   'accent--yellow'
    // ]
    //
    // const bgColorClasses = []
    // let bgIndex = 0
    //
    // backgroundColors.forEach(bgColor => {
    //   // bgColorClasses[bgIndex] = '.wvu-bg-' + bgColor
    //   bgIndex = bgIndex + 1
    // })
    //
    // console.log('Bg Color Classes: ' + bgColorClasses)
    //
    // // const lightenValues = []
    // // let j = 0
    // //
    // // for (i = 0; i <= 10; i++) {
    // //   // append i to ligthenValues
    // //   lightenValues[i] = '.wvu-bg-blend-mode-luminosity-' + j
    // //   j = j + 10
    // // }
    //
    // // console.log('LightenValues: ' + lightenValues)
    // //
    // // const blendModeLighten = [
    // //   '.wvu-bg-blend-mode-lighten'
    // // ]
    //
    // const blendModes = [
    //   '.wvu-bg-blend-mode-lighten',
    //   '.wvu-bg-blend-mode-luminosity-80'
    // ]
    //
    // console.log('Blend Modes: ' + blendModes)
    //
    // // concat lighten to lumniosity array blendModes
    //
    // const hasPhoto = true
    //
    // const photoToggler = document.querySelector('.photo-toggler')
    //
    // photoToggler.addEventListener('click', e => {
    //   if (hasPhoto = true) {
    //     hasPhoto = false
    //   } else if (hasPhoto = false) {
    //     hasPhoto = true
    //   }
    //   // hasPhoto.toggle() ?
    // })
    //
    // make array of arrays e.g. component classes?
    //
    // backgroundColors.forEach(color => {
    //   console.log(color)
    //   color.addEventListener('click', e => {
    //     // do something
    //     component.classList.remove(blendModes, '.text-dark', '.text-white')
    //     component.classList.add('.' + color)
    //     // toggle .active class on color beign clicked
    //     if (hasPhoto = true) {
    //       component.classList.add('.wvu-bg-blend-mode-luminosity-80')
    //     }
    //     // if blendMode[i] = '.active', leave bland mode class?
    //     // if photo is active, add blend mode luminosity class
    //     // if subset, leave black text
    //     // if subset, find <h1>, change slash color/class on <h1>
    //     // look for other '.active' class in grouping, toggle
    //     // add .active class for self
    //   })
    // })

    // blendModes.forEach(mode => {
    //   mode.addEventListener('click', e => {
    //     // do something
    //   })
    // })
    //
    // photoSwtich.addEventListener('click', function() {
    //   // if blend-mode active, leave it.
    //   // else get rid of color, dark or light bg, replace with default photo classes
    // })

    $('li.bg-wvu-gold').click(switchGold);
    $('li.bg-wvu-blue').click(switchBlue);
    $('li.bg-wvu-neutral--black').click(switchNeutralBlack);
    $('li.bg-wvu-neutral--white').click(switchNeutralWhite);
    $('li.bg-wvu-neutral--dark-gray').click(switchNeutralDarkGray);
    $('li.bg-wvu-neutral--light-gray').click(switchNeutralLightGray);
    $('li.bg-wvu-neutral--dark-brown').click(switchNeutralDarkBrown);
    $('li.bg-wvu-neutral--brown').click(switchNeutralBrown);
    $('li.bg-wvu-neutral--light-brown').click(switchNeutralLightBrown);
    $('li.bg-wvu-accent--dark-blue').click(switchAccentDarkBlue);
    $('li.bg-wvu-accent--blue').click(switchAccentBlue);
    $('li.bg-wvu-accent--light-blue').click(switchAccentLightBlue);
    $('li.bg-wvu-accent--brown').click(switchAccentBrown);
    $('li.bg-wvu-accent--mustard').click(switchAccentMustard);
    $('li.bg-wvu-accent--orange').click(switchAccentOrange);
    $('li.bg-wvu-accent--dark-green').click(switchAccentDarkGreen);
    $('li.bg-wvu-accent--green').click(switchAccentGreen);
    $('li.bg-wvu-accent--light-green').click(switchAccentLightGreen);
    $('li.bg-wvu-accent--red').click(switchAccentRed);
    $('li.bg-wvu-accent--burnt-orange').click(switchAccentBurntOrange);
    $('li.bg-wvu-accent--yellow').click(switchAccentYellow);
    $('li.wvu-bg-photo').click(switchPhoto);
    $('li.wvu-bg-pattern-gold').click(switchPatternGold);
    $('li.wvu-bg-pattern-blue').click(switchPatternBlue);
    $('li.wvu-bg-pattern-confetti-gold-blue').click(switchPatternConfettiGoldBlue);
    $('li.wvu-bg-pattern-confetti-gold-blue-white').click(switchPatternConfettiGoldBlueWhite);
    $('li.wvu-bg-pattern-grid').click(switchPatternGrid);
    $('li.wvu-bg-pattern-grid-zoomed').click(switchPatternGridZoomed);
    $('li.wvu-bg-blend-mode-lighten').click(switchLighten);
    $('li.wvu-bg-blend-mode-luminosity').click(switchLuminosity);

    function switchGold() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-gold text-dark wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--gold wvu-slash--blue wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--white');
    }

    function switchBlue() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-accent--dark-blue bg-wvu-neutral--brown bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--mustard bg-wvu-accent--brown bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-blue text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchNeutralBlack() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-neutral--black text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchNeutralWhite() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-neutral--white text-dark wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchNeutralDarkGray() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-neutral--dark-gray text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchNeutralLightGray() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-neutral--light-gray text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchNeutralDarkBrown() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-neutral--dark-brown text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchNeutralBrown() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-neutral--brown text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchNeutralLightBrown() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-neutral--light-brown text-dark wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--white');
    }

    function switchAccentDarkBlue() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--dark-blue text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentBlue() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--blue text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentLightBlue() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--light-blue text-dark wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--white');
    }

    function switchAccentBrown() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--brown text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentMustard() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--mustard text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentOrange() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--orange text-dark wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentDarkGreen() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--dark-green text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentGreen() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--green text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentLightGreen() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--light-green text-dark wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentRed() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').toggleClass('bg-wvu-accent--red');
      $('.<r:var name="pageSlug" />').addClass('wvu-bg-blend-mode-luminosity-80 text-white');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentBurntOrange() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--burnt-orange text-white wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchAccentYellow() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark text-white wvu-bg-blend-mode-lighten wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('bg-wvu-accent--yellow text-dark wvu-background-no-photo');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchPatternBlue() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue wvu-bg-blend-mode-luminosity-80 wvu-bg-blend-mode-ligthen wvu-bg-pattern-grid wvu-bg-pattern-grid-zoomed wvu-bg-pattern-confetti-gold-blue wvu-bg-pattern-confetti-gold-blue-white bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('wvu-background-no-photo wvu-bg-pattern-blue text-white');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchPatternGold() {
      $('.<r:var name="pageSlug" />').removeClass('text-white wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue wvu-bg-blend-mode-luminosity-80 wvu-bg-blend-mode-ligthen wvu-bg-pattern-grid wvu-bg-pattern-grid-zoomed wvu-bg-pattern-confetti-gold-blue wvu-bg-pattern-confetti-gold-blue-white bg-wvu-gold bg-wvu-blue bg-wvu-neutral--black bg-wvu-neutral--white bg-wvu-neutral--dark-gray bg-wvu-neutral--light-gray bg-wvu-neutral--dark-brown bg-wvu-neutral--light-brown bg-wvu-neutral--brown bg-wvu-accent--dark-blue bg-wvu-accent--blue bg-wvu-accent--light-blue bg-wvu-accent--brown bg-wvu-accent--mustard bg-wvu-accent--orange bg-wvu-accent--dark-green bg-wvu-accent--green bg-wvu-accent--light-green bg-wvu-accent--red bg-wvu-accent--burnt-orange bg-wvu-accent--yellow');
      $('.<r:var name="pageSlug" />').addClass('wvu-background-no-photo wvu-bg-pattern-gold');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--white');
    }

    function switchPhoto() {
      $('.<r:var name="pageSlug" />').removeClass('wvu-bg-photo wvu-bg-pattern-gold wvu-bg-pattern-blue');
      $('.<r:var name="pageSlug" />').addClass('wvu-background-position-center');
      $('.<r:var name="pageSlug" />').toggleClass('wvu-background-no-photo');
    }

    function switchPatternGrid() {
      $('.<r:var name="pageSlug" />').removeClass('wvu-bg-pattern-gold wvu-bg-pattern-blue wvu-bg-pattern-grid-zoomed wvu-bg-pattern-confetti-gold-blue wvu-bg-pattern-confetti-gold-blue-white');
      $('.<r:var name="pageSlug" />').toggleClass('wvu-bg-pattern-grid');
    }

    function switchPatternGridZoomed() {
      $('.<r:var name="pageSlug" />').removeClass('wvu-bg-pattern-gold wvu-bg-pattern-blue wvu-bg-pattern-grid wvu-bg-pattern-confetti-gold-blue wvu-bg-pattern-confetti-gold-blue-white');
      $('.<r:var name="pageSlug" />').toggleClass('wvu-bg-pattern-grid-zoomed');
    }

    function switchPatternConfettiGoldBlue() {
      $('.<r:var name="pageSlug" />').removeClass('wvu-bg-pattern-gold wvu-bg-pattern-blue wvu-bg-pattern-grid wvu-bg-pattern-grid-zoomed wvu-bg-pattern-confetti-gold-blue-white');
      $('.<r:var name="pageSlug" />').toggleClass('wvu-bg-pattern-confetti-gold-blue');
    }

    function switchPatternConfettiGoldBlueWhite() {
      $('.<r:var name="pageSlug" />').removeClass('wvu-bg-pattern-gold wvu-bg-pattern-blue wvu-bg-pattern-grid wvu-bg-pattern-grid-zoomed wvu-bg-pattern-confetti-gold-blue');
      $('.<r:var name="pageSlug" />').toggleClass('wvu-bg-pattern-confetti-gold-blue-white');
    }

    function switchLighten() {
      $('.<r:var name="pageSlug" />').removeClass('text-dark wvu-background-no-photo wvu-bg-pattern-gold wvu-bg-pattern-blue wvu-bg-blend-mode-luminosity-80');
      $('.<r:var name="pageSlug" />').toggleClass('wvu-bg-blend-mode-lighten');
      $('.<r:var name="pageSlug" />').addClass('text-white');
      $('.wvu-shout').removeClass('wvu-slash--blue wvu-slash--gold wvu-slash--white');
      $('.wvu-shout').addClass('wvu-slash--gold');
    }

    function switchLuminosity() {
      $('.<r:var name="pageSlug" />').removeClass('wvu-background-no-photo wvu-bg-pattern-gold wvu-bg-pattern-blue wvu-bg-blend-mode-ligthen');
      $('.<r:var name="pageSlug" />').toggleClass('wvu-bg-blend-mode-luminosity-80');
    }

  </script>
</r:content_for>
