<r:set_var name="bgurl">
  <r:page:slug />-header-background
</r:set_var>

<div class="wvu-backpage-header wvu-backpage-header--<r:site:id /> wvu-backpage-header--plain <r:page:data name="classes_wvu-backpage-header--plain" />">

  <r:partial name="patterns/wvu-breadcrumbs" />
  <div class="wvu-backpage-header__container">
    <r:if expr="{{ NOT(BLANK(backpage_header_badge)) }}">
      <div class="wvu-backpage-header__badge">
        <r:page:data name="backpage_header_badge" />
      </div>
    </r:if>
    <h1><span><r:page:first_non_blank_attr names="alternate_name, name" /></span></h1>
    <r:page:if_has_content_for region="wvu-profile__job-title">
      <p><r:page:content name="wvu-profile__job-title" /></p>
    </r:page:if_has_content_for>
  </div>
</div>

<r:partial name="patterns/instructions/wvu-backpage-header" theme="Code" />
