<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="breadcrumbs" />

<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  text-muted
</r:content_for>

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:set_var name="componentClassesBreadcrumbs">
  wvu-slash-list pl-0 <r:page:content name="{$componentClasses}" />
</r:set_var>

<section class="wvu-breadcrumbs py-2 w-100 position-absolute <r:site:data name="classes_wvu-breadcrumbs" /> wvu-z-index-breadcrumbs">
  <div class="container position-relative wvu-z-index-content">
    <small>
      <r:breadcrumbs ul_class="{$componentClassesBreadcrumbs}" />
     </small>
  </div>
</section>

<r:partial name="utilities/wvu-default-component-classes" />
