<r:set_var name="componentName">
  hero--small
</r:set_var>

<r:set_var name="bgurl">
  <r:page:slug />,<r:var name="componentName" />,background
</r:set_var>

<r:set_var name="patternBgcolor">
  --wvu-blue
</r:set_var>

<r:set_var name="patternClasses">
  <r:page:content name="wvu-hero--small-classes" />
</r:set_var>

<div class="wvu-hero wvu-hero--<r:site:id /> py-5 wvu-overflow-hidden <r:page:content name="wvu-hero--small-classes" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container position-relative wvu-z-index-content">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <r:editable_region name="wvu-hero--small__content">
          <h1 class="display-1 wvu-shout wvu-slash--gold">Hello World.</h1>
          <p class="lead py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="btn btn-lg btn-outline-wvu-neutral--white">Call to Action</a>
        </r:editable_region>
      </div>
      <r:page:if_has_content_for region="wvu-hero--small__photo" always_show_in_edit_mode="true">
        <div class="col-sm-12 col-md-6">
          <r:editable_region name="wvu-hero--small__photo">
            <img src="http://placehold.it/960x640" class="shadow" />
          </r:editable_region>
          <r:page:if_has_content_for region="wvu-hero-small__photo-caption" always_show_in_edit_mode="true">
            <div class="text-right text-uppercase text-muted">
              <small>
                <r:editable_region name="wvu-hero-small__photo-caption">
                  Photo caption goes here.
                </r:editable_region>
              </small>
            </div>
          </r:page:if_has_content_for>
        </div>
      </r:page:if_has_content_for>
    </div>
  </div>
</div>

<r:content_for name="wvu-hero--small-default-component-classes">
  bg-wvu-neutral--black text-white wvu-bg-pattern-blue wvu-vignetting
</r:content_for>

<r:content_for name="wvu-component-instructions">
  Here are the instructions.
</r:content_for>

<r:partial name="utilities/wvu-default-component-classes" />

<r:partial name="utilities/wvu-component-instructions" />
