<r:set_var name="baseComponentName" value="directory" />
<r:set_var name="componentNumber" value="9" />
<r:set_var name="componentScope" value="page" />
<r:set_var name="baseComponentURL">
  patterns/base/wvu-<r:var name="baseComponentName" />
</r:set_var>

<r:partial name="{$baseComponentURL}" />
