<r:set_var name="componentName">
  lead
</r:set_var>

<r:set_var name="bgurl">
  <r:page:slug />,<r:var name="componentName" />,background
</r:set_var>

<r:set_var name="patternBgcolor">
  --wvu-blue
</r:set_var>

<r:set_var name="patternClasses">
  <r:page:content name="wvu-lead-classes" />
</r:set_var>

<div class="wvu-lead <r:page:data name="wvu-lead-classes" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container">
    <p class="lead display-2 text-center">
      <r:editable_region name="wvu-lede-text" type="simple">
        This is a lede paragraph. It introduces your content. It should be short and to the point. Only about this much text. Do not put links or other formatting in this text block.
      </r:editable_region>
    </p>
  </div>
</div>

<r:content_for name="wvu-lead-default-component-classes">

</r:content_for>

<r:content_for name="wvu-component-instructions">
  Here are the instructions.
</r:content_for>

<r:partial name="utilities/wvu-default-component-classes" />

<r:partial name="utilities/wvu-component-instructions" />
