<r:set_var name="baseComponentName" value="action-hero" />
<r:set_var name="componentNumber" value="5" />
<r:set_var name="componentScope" value="site" />
<r:set_var name="baseComponentURL">
  patterns/base/wvu-<r:var name="baseComponentName" />
</r:set_var>

<r:partial name="{$baseComponentURL}" />
