<r:set_var name="action-hero-bgurl">
  <r:page:slug />,action-hero,background
</r:set_var>

<div class="wvu-admin-hero wvu-admin-hero--<r:site:id /> <r:page:data name="classes_wvu-admin-hero" />" style="background-image: url(<r:files:each labels="{$bgurl}" limit="1" types="image" random="true"><r:file:image_url size="1780x580" /></r:files:each>);">
  <div class="wvu-admin-hero__container wvu-admin-hero__container--vignetting-<r:page:data name="hero_vignetting" />">
    <div class="wvu-admin-hero__copy <r:page:unless_has_content_for region="wvu-admin-hero__links">wvu-admin-hero__copy--wide</r:page:unless_has_content_for>">
      <h1><r:editable_region name="wvu-admin-hero__h1" type="simple">Header text goes here.</r:editable_region></h1>
      <p><r:editable_region name="wvu-admin-hero__p" type="simple">Optional paragraph text goes here.</r:editable_region></p>
    </div>
    <r:page:if_has_content_for region="wvu-admin-hero__links" always_show_in_edit_mode="true">
      <div class="wvu-admin-hero__links">
        <r:editable_region name="wvu-admin-hero__links">
          <ul>
            <li><a href="#">Action 1</a></li>
            <li><a href="#">Action 2</a></li>
            <li><a href="#">Action 3</a></li>
          </ul>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>
  </div>
</div>

<r:partial name="patterns/instructions/wvu-admin-hero" theme="Code" />
