// Make videos responsive
.u-embed-container {
  position: relative;
  padding-bottom: 34.45%; /* 16/9 ratio */
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
