.wvu-column-count-2 {
  column-count: 2 !important;
}

.wvu-column-count-3 {
  column-count: 3 !important;
}

.wvu-column-count-4 {
  column-count: 4 !important;
}

.wvu-column-count-5 {
  column-count: 5 !important;
}

@each $bp-value, $breakpoint in (xs, $wvu-bp-xs),
                                (sm, $wvu-bp-sm),
                                (md, $wvu-bp-md),
                                (lg, $wvu-bp-lg),
                                (xl, $wvu-bp-xl) {
  @media (min-width: $breakpoint) {
    .wvu-column-count-#{$bp-value}-1 {
      column-count: 1 !important;
    }
    .wvu-column-count-#{$bp-value}-2 {
      column-count: 2 !important;
    }
    .wvu-column-count-#{$bp-value}-3 {
      column-count: 3 !important;
    }
    .wvu-column-count-#{$bp-value}-4 {
      column-count: 4 !important;
    }
    .wvu-column-count-#{$bp-value}-5 {
      column-count: 5 !important;
    }
  }
}
