.wvu-slash {
  @include wvu-slash($wvu-gold, normal, left);
}

.wvu-slash--blue {
  &:before {
    background-color: $wvu-blue !important;
  }
}

.wvu-slash--white {
  &:before {
    background-color: $wvu-neutral--white !important;
  }
}

.wvu-slash--skinny {
  &:before {
    left: -.25em !important;
    width: $wvu-slash-width * .5 !important;
  }
}

.wvu-slash--center {
  display: inline-block !important;
  &:before {
    left: auto !important;
    right: calc(50% - .5em) !important;
  }
}

.wvu-slash--center-bottom {
  display: inline-block !important;
  &:before {
    bottom: 0 !important;
    left: auto !important;
    right: calc(50% - .5em) !important;
    top: auto !important;
  }
}

.wvu-slash--right {
  display: inline-block !important;
  &:before {
    left: auto !important;
    right: -1em !important;
  }
}

.wvu-slash--right-bottom {
  display: inline-block !important;
  &:before {
    bottom: 0 !important;
    left: auto !important;
    right: -1em !important;
    top: auto !important;
  }
}

$i: 1;

@while $i < 5 {
  .wvu-slash--#{$i}-left {
    &:before {
      left: -($i * $spacer) !important;
    }
  }
  .wvu-slash--#{$i}-right {
    &:before {
      right: -($i * $spacer) !important;
    }
  }
  .wvu-slash--#{$i}-up {
    &:before {
      top: calc(-25% + -(#{$i} * #{$spacer})) !important;
    }
  }
  .wvu-slash--#{$i}-down {
    &:before {
      top: calc(-25% + (#{$i} * #{$spacer})) !important;
    }
  }
  $i: $i + 1;
}

.wvu-ul-slashes {
  @include wvu-slashes($wvu-gold);
}

.wvu-ul-slashes--gold {
  @include wvu-slashes($wvu-gold);
}

.wvu-ul-slashes--blue {
  @include wvu-slashes($wvu-blue);
}

.wvu-ul-slashes--white {
  @include wvu-slashes($wvu-neutral--white);
}

.wvu-slash-list {
  @include wvu-slash-list();
}
