<r:descendants order="asc" limit="250" by="alternate_name" labels="{$contentLabels}" labels_match="all">

  <r:set_var name="columnClasses">
    col-sm-6 col-md-3
  </r:set_var>

  <r:each>

    <r:set_var name="contentIndex">
      <r:index />
    </r:set_var>

    <r:page:if_has_content_for region="profile-1__quote">
      <!-- if we only have one profile, and are displaying it as a testimonial, we need to make the column wider -->
      <r:if_equal x="{$itemCount}" y="1">
        <r:set_var name="columnClasses">
          col-lg-6 mx-auto
        </r:set_var>
      </r:if_equal>
    </r:page:if_has_content_for>

    <div class="grid-item col-md-3 <r:page:parent:slug /> <r:page:parent><r:page:parent:slug /></r:page:parent> <r:page:data name="isotope_classes" /> mb-4 <r:edit_mode_only><r:if_equal x="{$contentIndex}" y="1">d-none</r:if_equal></r:edit_mode_only>">

      <r:page:if_has_content_for region="profile-1__quote">

        <p class="wvu-quote text-center iowan-old-style h4">
          <r:page:content name="profile-1__quote" />
        </p>
        <r:if_not_blank value="{$thumbnail_url_sq}">
          <div class="mb-1 text-center">
            <a href="<r:if_then_else test="{{ NOT(BLANK(alternate_url)) }}" then="{$alternate_url}" else="{page:url}" />"><img <r:if_not_blank value="{$thumbnail_url_sq}">src="<r:page:data name="thumbnail_url_sq" />/250x250.jpg" alt="<r:page:name />"</r:if_not_blank> <r:if_blank value="{$thumbnail_url_sq}">src="https://via.placeholder.com/960x960"</r:if_blank>class="rounded-circle shadow text-center w-25" ></a>
          </div>
        </r:if_not_blank>
        <h3 class="helvetica-neue-light mb-1 text-center h5" id="<r:page:slug />-<r:page:id />"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
      </r:page:if_has_content_for>
      <r:page:unless_has_content_for region="profile-1__quote">
        <r:if_not_blank value="{$thumbnail_url_sq}">
          <div class="mb-1 text-center">
            <img src="<r:page:data name="thumbnail_url_sq" />/250x250.jpg" alt="<r:page:data name="thumbnail_alt" />" class="rounded-circle shadow text-center w-50" >
          </div>
        </r:if_not_blank>
        <r:if_blank value="{$thumbnail_url_sq}">
          <div class="mb-1 text-center">
            <img src="<r:image_url name="flying-wv-placeholder.jpg" />" alt="Placeholder" class="rounded-circle shadow text-center w-50" />
          </div>
        </r:if_blank>
        <h3 class="iowan-old-style-italic mb-0 text-center" id="<r:page:slug />-<r:page:id />"><r:page:name /></h3>
        <r:page:if_has_content_for region="profile-1__title">
          <p class="helvetica-neue-light"><r:page:content name="profile-1__title" /></p>
        </r:page:if_has_content_for>
        <r:if_not_blank value="{$description}">
          <p class="text-center iowan-old-style my-1">
            <r:page:data name="description" />
          </p>
        </r:if_not_blank>
        <r:page:if_has_content_for region="profile-1__phone">
          <p class="mb-0"><small><span class="fas fa-phone"> <r:page:content name="profile-1__phone" /></span></small></p>
        </r:page:if_has_content_for>
        <r:page:if_has_content_for region="profile-1__email">
          <p class="mb-0"><small><a href="mailto:<r:page:content name="profile-1__email" />"><span class="fas fa-envelope"> <r:page:content name="profile-1__email" /></span></a></small></p>
        </r:page:if_has_content_for>
      </r:page:unless_has_content_for>

    </div>

  </r:each>

</r:descendants>
