<r:edit_mode_only>
  <section class="px-2 px-md-5 py-2 mb-0 text-light bg-wvu-neutral--black text-monospace position-relative">
    <div class="row">
      <div class="col-md-4">
        <p class="mb-0">
          <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Utility classes for items:</span></r:edit_mode_only>
          <p>
            <r:editable_region name="{$itemClasses}" type="simple"></r:editable_region>
          </p>
        </p>
        <p class="text-muted mb-0 mt-1">
          <small>
            <r:yield name="{$defaultItemClasses}">
              <strong>Default classes:</strong> <r:content />
            </r:yield>
          </small>
        </p>
      </div>
      <div class="col-md-4">
        <p class="mb-0">
          <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Utility classes for item headers:</span></r:edit_mode_only>
          <p>
            <r:editable_region name="{$itemHeaderClasses}" type="simple"></r:editable_region>
          </p>
        </p>
        <p class="text-muted mb-0 mt-1">
          <small>
            <r:yield name="{$defaultItemHeaderClasses}">
              <strong>Default classes:</strong> <r:content />
            </r:yield>
          </small>
        </p>
      </div>
      <div class="col-md-4">
        <p class="mb-0">
          <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Utility classes for item body copy:</span></r:edit_mode_only>
          <p>
            <r:editable_region name="{$itemBodyClasses}" type="simple"></r:editable_region>
          </p>
        </p>
        <p class="text-muted mb-0 mt-1">
          <small>
            <r:yield name="{$defaultItemBodyClasses}">
              <strong>Default classes:</strong> <r:content />
            </r:yield>
          </small>
        </p>
      </div>
    </div>
  </section>
</r:edit_mode_only>
