<r:if expr="{{contains(patternClasses, 'bg-wvu-blue')}}">
  <r:set_var name="patternBgcolor">
    --wvu-blue
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-gold')}}">
  <r:set_var name="patternBgcolor">
    --wvu-gold
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-neutral--white')}}">
  <r:set_var name="patternBgcolor">
    --wvu-neutral--white
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-neutral--black')}}">
  <r:set_var name="patternBgcolor">
    --wvu-neutral--black
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-neutral--dark-gray')}}">
  <r:set_var name="patternBgcolor">
    --wvu-neutral--dark-gray
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-neutral--light-gray')}}">
  <r:set_var name="patternBgcolor">
    --wvu-neutral--light-gray
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-neutral--dark-brown')}}">
  <r:set_var name="patternBgcolor">
    --wvu-neutral--dark-brown
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-neutral--brown')}}">
  <r:set_var name="patternBgcolor">
    --wvu-neutral--brown
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-neutral--light-brown')}}">
  <r:set_var name="patternBgcolor">
    --wvu-neutral--light-brown
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--dark-blue')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--dark-blue
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--blue')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--blue
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--light-blue')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--light-blue
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--brown')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--brown
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--mustard')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--mustard
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--orange')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--orange
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--dark-green')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--dark-green
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--green')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--green
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--light-green')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--light-green
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--red')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--red
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--burnt-orange')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--burnt-orange
  </r:set_var>
</r:if>

<r:if expr="{{contains(patternClasses, 'bg-wvu-accent--yellow')}}">
  <r:set_var name="patternBgcolor">
    --wvu-accent--yellow
  </r:set_var>
</r:if>
