<ul>
  <li>bg-* (wvu-accent--light-blue)</li>
  <li>text-center</li>
  <li>text-* (wvu-blue)</li>
  <li>wvu-background-position-* (center, top, bottom)</li>
  <li>wvu-bg-position-spacer-md-top</li>
  <li>wvu-background-size-cover</li>
  <li>wvu-bg-blend-mode-lighten</li>
  <li>wvu-bg-blend-mode-luminosity-* (10, 20, ... 80, 90)</li>
  <li>wvu-bg-pattern-* (blue, gold, grid, grid-transparent, grid-zoomed, grid-zoomed-transparent, confetti-gold-blue, confetti-gold-blue-white)</li>
  <li>wvu-bg-vignetting--* (10, 20, ... 80, 90)</li>
</ul>
<p class="helvetica-neue">For a complete list, see: </p>
