// Play / Pause button
.video-loop__play-button { float: left; width: 40px; height: 40px; background-color: #000; border: 1px solid #444; border-radius: 50%; position: absolute; right: 15px; bottom: 15px; opacity: .7; z-index: 1001;
  &:after { content: ''; background: url(../images/video-loop__play.svg) no-repeat left top; float: left; width: 15px; height: 15px; left: 15px; top: 12px; position: absolute; }
  &:hover, &:focus { opacity: 1; }
  &.video-loop__playing:after { background-image: url(../images/video-loop__pause.svg); left: 13px; }
  .no-js &, .no-svg & { display: none; }
} //.video-loop__play-button
