.wvu-breadcrumbs {
  a, a:link, a:visited, a:hover {
    color: white;
    text-decoration: underline;
  }
  .text-wvu-neutral--light-gray {
    a, a:link, a:visited, a:hover {
      color: $wvu-neutral--light-gray;
    }
  }
  .text-wvu-blue {
    a, a:link, a:visited, a:hover {
      color: $wvu-blue;
    }
  }
  .text-wvu-neutral--black {
    a, a:link, a:visited, a:hover {
      color: $wvu-neutral--black;
    }
  }
  .text-white {
    a, a:link, a:visited, a:hover {
      color: white;
    }
  }
}
