<div class="wvu-<r:var name="baseComponentName" /> wvu-<r:var name="baseComponentName" />--<r:var name="componentNumber" /> py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="mb-4">
        <r:editable_region name="{$componentHeader}">
          <r:yield name="{$headerYield}">
            <r:content />
          </r:yield>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="">
      <r:editable_region name="{$componentContent}">
        <r:yield name="{$contentYield}">
          <r:content />
        </r:yield>
      </r:editable_region>
    </div>

    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="mt-4">
        <r:editable_region name="{$componentPostscript}">
          <r:yield name="{$postscriptYield}">
            <r:content />
          </r:yield>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div>
</div>
