<r:if_not_equal x="{$componentScope}" y="site">
  <r:partial name="utilities/wvu-default-component-classes" />
</r:if_not_equal>

<r:if_equal x="{$componentScope}" y="site">
  <r:partial name="utilities/wvu-default-component-classes--site" />
</r:if_equal>
