<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment>
<!-- NOTE: This polyptych can be reused over and over. -->
<!-- You can use this partial multiple times on the same page by setting different... -->
<!-- ...`regionName__base` variables above each partial.  -->
<!-- You can also change the `polyptychItems` to be more than 4 if you like. -->
<!-- Always increase by 4. -->
<!-- Set the scope by defining the `$scope` variable to either `page` or `site`. -->
</r:comment>

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  ???
</r:content_for>

<r:comment><!-- Count the number of polyptych items (based on page data), use to change adjust layout below --></r:comment>
<r:set_var name="itemCount">
  <r:page:data name="{$polyptychItemsDataName}" />
</r:set_var>

<r:comment><!-- Adjust layout based on item count i.e. add different classes based on the number of items --></r:comment>
<r:partial name="utilities/wvu-item-count" />

<div class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Header</span></r:edit_mode_only>
      <div class="mb-4 wvu-z-index-content">
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 class="display-3 wvu-shout">Polyptych Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="card-columns">

      <r:loop:each times="{$itemCount}">

        <div class="card shadow mb-3">

          <!-- set photo region dynamically -->
          <r:set_var name="wvuPolyptychPhotoDynamic"><r:var name="wvuPolyptychPhoto" />-<r:item /></r:set_var>

          <r:page:if_has_content_for region="{$wvuPolyptychPhotoDynamic}" always_show_in_edit_mode="true">
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Photo</span></r:edit_mode_only>
            <r:editable_region name="{$wvuPolyptychPhotoDynamic}" scope="{$componentScope}">
              <img class="card-img-top" src="http://placehold.it/960x640" alt="Placeholder">
            </r:editable_region>
          </r:page:if_has_content_for>

          <!-- set copy region dynamically -->
          <r:set_var name="wvuPolyptychCopyDynamic"><r:var name="wvuPolyptychCopy" />-<r:item /></r:set_var>
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Content</span></r:edit_mode_only>
          <div class="card-body">
            <r:editable_region name="{$wvuPolyptychCopyDynamic}" scope="{$componentScope}">
              <h3 class="card-title">Headline Goes Here</h3>
              <p class="card-text">Short description goes here. Do not put links here. Only one short paragraph.</p>
            </r:editable_region>
          </div>

        </div>

      </r:loop:each>

    </div> <!-- end row -->

    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="wvu-z-index-content">
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Postscript</span></r:edit_mode_only>
        <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
          <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div> <!-- end container -->
</div> <!-- end wvu-polyptych -->

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
