<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<!-- Dynamic editable regions specific to this component. -->
<r:comment><!-- So we can have multiple instances (up to 5) of this region on a page --></r:comment>

<r:set_var name="componentTitle">
  <r:var name="componentName" />__title
</r:set_var>

<r:set_var name="componentPhone">
  <r:var name="componentName" />__phone
</r:set_var>

<r:set_var name="componentEmail">
  <r:var name="componentName" />__email
</r:set_var>

<r:set_var name="componentOffice">
  <r:var name="componentName" />__office
</r:set_var>

<r:set_var name="componentQuote">
  <r:var name="componentName" />__quote
</r:set_var>

<r:set_var name="componentButtonText">
  <r:var name="componentName" />__button-text
</r:set_var>

<section class="py-5">

  <div class="container">

    <div class="row">

      <div class="<r:if_not_equal x="{$backpage_has_sidebar}" y="false">col-md-8</r:if_not_equal>">

        <div class="row">
          <div class="col-md-4">

            <r:if_not_blank value="{$thumbnail_url_sq}">
              <div class="mb-1 text-center">
                <a href="<r:if_then_else test="{{ NOT(BLANK(alternate_url)) }}" then="{$alternate_url}" else="{page:url}" />"><img src="<r:page:data name="thumbnail_url_sq" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url_sq" />/960x640.jpg, <r:page:data name="thumbnail_url_sq" />/586x286.jpg, <r:page:data name="thumbnail_url_sq" />/381x255.jpg, <r:page:data name="thumbnail_url_sq" />/286x191.jpg, <r:page:data name="thumbnail_url_sq" />/279x186.jpg, <r:page:data name="thumbnail_url_sq" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />" class="rounded-circle shadow text-center w-50" ></a>
              </div>
            </r:if_not_blank>

          </div>

          <div class="col-md-8">

            <r:page:if_has_content_for region="{$componentTitle}" always_show_in_edit_mode="true">
              <div class="wvu-profile__meta-info">
                <h2 class="wvu-profile__job-title wvu-h5">
                  <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Title</span></r:edit_mode_only>
                  <r:editable_region name="{$componentTitle}" type="simple">
                    Job Title
                  </r:editable_region>
                </h2>
              </div> <!-- /.wvu-profile__meta-info -->
            </r:page:if_has_content_for>

            <r:edit_mode_only>
              <p class="wvu-profile__button"><div class="button"><r:editable_region name="{$componentButtonText}" type="simple">View Profile</r:editable_region></div></p>
            </r:edit_mode_only>


            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Phone</span></r:edit_mode_only>
            <r:page:if_has_content_for region="{$componentPhone}" always_show_in_edit_mode="true">
              <p class="mb-0">
                <span class="fas fa-phone">
                  <r:editable_region name="{$componentPhone}" type="simple">
                    (304) 293-3812
                  </r:editable_region>
                </span>
              </p>
            </r:page:if_has_content_for>
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Email</span></r:edit_mode_only>
            <r:page:if_has_content_for region="{$componentEmail}" always_show_in_edit_mode="true">
              <p>
                <span class="fas fa-envelope">
                  <r:edit_mode_only>
                     <r:editable_region name="{$componentEmail}" type="simple">
                       joe.schmoe@mail.wvu.edu
                     </r:editable_region>
                   </r:edit_mode_only>
                   <a class="edit-mode" href="mailto:<r:page:content name="{$componentEmail}" />"><r:page:content name="{$componentEmail}" /></a>
                </span>
              </p>
            </r:page:if_has_content_for>
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Office</span></r:edit_mode_only>
            <r:page:if_has_content_for region="{$componentOffice}" always_show_in_edit_mode="true">
              <p>
                <span class="fas fa-building">
                   <r:editable_region name="{$componentOffice}" type="simple">
                     845 Office Building
                   </r:editable_region>
                </span>
              </p>
            </r:page:if_has_content_for>
            
            <r:page:if_has_content_for region="{$componentQuote}" always_show_in_edit_mode="true">
              <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Quote (optional)</span></r:edit_mode_only>
              <p>
                <r:editable_region name="{$componentQuote}" type="simple" />
              </p>
            </r:page:if_has_content_for>

            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Body</span></r:edit_mode_only>
            <r:editable_region name="{$componentContent}">
              <p>Enter the extended description here.</p>
            </r:editable_region>

          </div>

        </div>
      </div>

      <r:partial name="patterns/wvu-sidebar" />

    </div>

  </div> <!-- /.wvu-container -->

</section>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
