<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  ???
</r:content_for>

<r:set_var name="contentLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var> <!-- Can we combine this with others like adverts, profiles? -->

<div class="py-5" <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="wvu-z-index-content mb-4">
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 class="display-3 helvetica-neue-light">Directory Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <r:if expr="{{ BLANK(directory_id) }}">
      <div class="table-responsive-md">
        <table class="table">
          <tbody>
            <r:root>
              <r:descendants:each order="asc" labels="{$contentLabels}" labels_match="all">
                <tr class="border-bottom border-light">
                  <td class="w-25 py-2">
                    <strong class="d-block"><r:page:first_non_blank_attr names="alternate_name,name" /></strong>
                    <small class="helvetica-neue-light d-block"><r:page:content name="profile-1__title" /></small>
                  </td>
                  <td class="w-25"><span class="fas fa-phone"> <r:page:content name="profile-1__phone" /></span></td>
                  <td class="w-25">
                    <r:set_var name="email_address"><r:page:content name="profile-1__email" /></r:set_var>
                    <r:if v1="{{BLANK(email_address)}}" v2="false" operator="=" type="boolean">
                      <a href="mailto:<r:page:content name="profile-1__email" />"><span class="fas fa-envelope"> <r:page:content name="profile-1__email" /></span></a>
                    </r:if>
                  </td>
                </tr>
              </r:descendants:each>
            </r:root>
          </tbody>
        </table>
      </div>
    </r:if>

    <r:if expr="{{ NOT(BLANK(directory_id)) }}">
      <r:get_page id="{$directory_id}">
        <r:if v1="{$directory_2_levels}" v2="1" op="=">

          <r:children:each>

            <r:if v1="{$hide_link}" v2="true" op="!=">
              <h2><r:page:first_non_blank_attr names="alternate_name, name" /></h2>
              <r:set_var name="tableEnded" value="false" />
              <div class="table-responsive-md mb-4">
                <table class="table">
                  <tbody>
                    <r:children:each>
                      <r:if v1="{$hide_link}" v2="true" op="!=">
                        <r:if_children>
                          <r:set_var name="directoryHasChildren" value="true" />
                        </r:if_children>
                        <r:if v1="{$directoryHasChildren}" v2="true" op="!=">
                          <tr class="border-bottom border-light">
                            <td class="py-2 w-25">
                              <strong class="d-block"><r:page:first_non_blank_attr names="name" /></strong>
                              <small class="helvetica-neue-light d-block"><r:page:content name="profile-1__title" /></small>
                            </td>
                            <td class="w-25"><r:page:if_has_content_for region="profile-1__phone" always_show_in_edit_mode="true"><span class="fas fa-phone"> <r:page:content name="profile-1__phone" /></span></r:page:if_has_content_for></td>
                            <td class="w-25">
                              <r:page:if_has_content_for region="profile-1__email" always_show_in_edit_mode="true">
                                <a href="mailto:<r:page:content name="profile-1__email" />"><span class="fas fa-envelope"> <r:page:content name="profile-1__email" /></span></a>
                              </r:page:if_has_content_for>
                            </td>
                          </tr>
                          <r:set_var name="outerTableEnded" value="false" />
                        </r:if>

                        <r:if_children>

                          <r:if v1="{$tableEnded}" v2="true" op="!=">
                                </tbody>
                              </table>
                            </div>
                            <r:set_var name="outerTableEnded" value="true" />
                          </r:if>

                          <r:set_var name="tableEnded" value="true" />

                          <h3 class="iowan-old-style-black text-wvu-letter-spacing h5 text-uppercase"><r:page:first_non_blank_attr names="alternate_name, name" /></h3>
                          <div class="table-responsive-md mb-4">
                            <table class="table">
                              <tbody>
                                <r:children:each>
                                  <tr class="border-bottom border-light">
                                    <td class="py-2 w-25">
                                      <strong class="d-block"><r:page:first_non_blank_attr names="name" /></strong>
                                      <small class="helvetica-neue-light d-block"><r:page:content name="profile-1__title" /></small>
                                    </td>
                                    <td class="w-25"><r:page:if_has_content_for region="profile-1__phone" always_show_in_edit_mode="true"><span class="fas fa-phone"> <r:page:content name="profile-1__phone" /></span></r:page:if_has_content_for></td>
                                    <td class="w-25">
                                      <r:page:if_has_content_for region="profile-1__email" always_show_in_edit_mode="true">
                                        <a href="mailto:<r:page:content name="profile-1__email" />"><span class="fas fa-envelope"> <r:page:content name="profile-1__email" /></span></a>
                                      </r:page:if_has_content_for>
                                    </td>
                                  </tr>
                                </r:children:each>
                              </tbody>
                            </table>
                          </div>
                        </r:if_children>

                        <r:set_var name="directoryHasChildren" value="false" />
                      </r:if>
                    </r:children:each>

              <r:if v1="{$outerTableEnded}" v2="true" op="!=">
                    </tbody>
                  </table>
                </div>

              </r:if>

            </r:if>

            <r:set_var name="isPage" value="0" />

          </r:children:each>
        </r:if>
        <r:if v1="{$directory_2_levels}" v2="1" op="!=">

          <div class="table-responsive-md">
            <table class="table">
              <tbody>
                <r:children:each>
                  <tr class="border-bottom border-light">
                    <td class="py-2">
                      <strong class="d-block"><r:page:first_non_blank_attr names="alternate_name,name" /></strong>
                      <small class="helvetica-neue-light d-block"><r:page:content name="profile-1__title" /></small>
                    </td>
                    <td><r:page:if_has_content_for region="profile-1__phone" always_show_in_edit_mode="true"><i class="fas fa-phone"> <r:page:content name="profile-1__phone" /></i></r:page:if_has_content_for></td>
                    <td>
                      <r:page:if_has_content_for region="profile-1__email" always_show_in_edit_mode="true">
                        <a href="mailto:<r:page:content name="profile-1__email" />"><i class="fas fa-envelope"> <r:page:content name="profile-1__email" /></i></a>
                      </r:page:if_has_content_for>
                    </td>
                  </tr>
                </r:children:each>
              </tbody>
            </table>
          </div>

        </r:if>
      </r:get_page>
    </r:if>

  </div> <!-- .container -->
</div>

<r:comment><!-- Allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
