<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  ???
</r:content_for>

<r:comment><!-- List of labels that will allow us to assign a background image to the component --></r:comment>
<r:set_var name="bgurl">
  <r:var name="baseComponentName" />-background
</r:set_var>

<section class="py-5 bg-white border-top border-light aria-labelledby="location_header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <r:editable_region name="map" scope="site" />
      </div>
      <div class="col-md-8 border-right border-light">
        <r:editable_region name="location-1" scope="site">
          <h2 class="helvetica-neue-bold">Locations</h2>
        </r:editable_region>
      </div>
    </div>
  </div>
</section>

<footer class="py-4 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <r:editable_region name="contact" scope="site" />
      </div>
      <div class="col-3">

      </div>
      <div class="col-3">
        <r:if_not_blank value="{$masthead_link_2_address}">
          <a href="#"><i class="fab fa-facebook text-white"></i></i></a> <a href="#"><i class="fab fa-twitter text-white"></a> <a href="#"><i class="fab fa-youtube text-white"></i></a>
        </r:if_not_blank>
      </div>
    </div> <!-- /.wvu-contact -->
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://about.wvu.edu/wvu-facts"><small class="d-block">Accreditations</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://webstandards.wvu.edu"><small class="d-block">Web Standards</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="mailto:web_services@mail.wvu.edu"><small class="d-block">Questions or Comments?</small></a></li>
        </ul>

        <p>
          <small class="d-block">&copy; <r:date_format format="%Y" value="now" /> West Virginia University. WVU is an EEO/Affirmative Action employer &mdash; Minority/Female/Disability/Veteran.
          <span class="wvu-credits__last-edited">Last updated on <r:date_format format="%B %-d, %Y" value="{page:updated_at}" />.</small></span>
        </p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-unstyled mb-0">
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://www.wvu.edu/SiteIndex/"><small class="d-block">A-Z Site Index</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://campusmap.wvu.edu"><small class="d-block">Campus Map</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://careers.wvu.edu/career-opportunities"><small class="d-block">WVU Careers</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://directory.wvu.edu"><small class="d-block">Directory</small></a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://give.wvu.edu/"><small class="d-block">Give</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://careerservices.wvu.edu/students/handshake-login"><small class="d-block">Handshake</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://alert.wvu.edu/"><small class="d-block">WVU Alert</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://wvutoday.wvu.edu"><small class="d-block">WVU Today</small></a></li>
          <li class="list-inline-item"><a class="<r:site:data name="classes_wvu-footer-links" />" href="https://portal.wvu.edu"><small class="d-block">WVU Portal</small></a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="list-inline-item"><a href="https://www.facebook.com/wvumountaineers"><small class="d-block">WVU on Facebook</small></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/WestVirginiaU"><small class="d-block">WVU on Twitter</small></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/user/westvirginiau"><small class="d-block">WVU on YouTube</small></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<r:partial name="utilities/wvu-default-component-classes--site" />
