<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<div class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">



    <div class="<r:if v1="{$backpage_has_sidebar}" v2="false" op="!=">row </r:if>">

      <div class="<r:if v1="{$backpage_has_sidebar}" v2="false" op="!=">col-md-8</r:if> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">

        <div class="mb-4">
          <r:editable_region name="cast-your-vote-header">
            <h2>Header Goes Here</h2>
          </r:editable_region>
          <div class="row mt-3">
            <div class="col-md">
              <div class="mb-2">
                <r:editable_region name="cast-your-vote-image-1">
                  Image goes here.
                </r:editable_region>
              </div>
              <div>
                <r:editable_region name="cast-your-vote-text-1">
                  Text goes here.
                </r:editable_region>
              </div>
            </div>
            <div class="col-md">
              <div class="mb-2">
                <r:editable_region name="cast-your-vote-image-2">
                  Image goes here.
                </r:editable_region>
              </div>
              <div>
                <r:editable_region name="cast-your-vote-text-2">
                  Text goes here.
                </r:editable_region>
              </div>
            </div>
            <div class="col-md">
              <div class="mb-2">
                <r:editable_region name="cast-your-vote-image-3">
                  Image goes here.
                </r:editable_region>
              </div>
              <div>
                <r:editable_region name="cast-your-vote-text-3">
                  Text goes here.
                </r:editable_region>
              </div>
            </div>
          </div>
        </div>

        <r:edit_mode_only>
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Main Content</span></r:edit_mode_only>
        </r:edit_mode_only>

        <r:editable_region name="{$componentContent}">
          <p class="h3 helvetica-neue-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </r:editable_region>

      </div>

      <r:partial name="patterns/wvu-sidebar" />

    </div>

  </div> <!-- /.wvu-container -->
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
