<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  ???
</r:content_for>

<r:set_var name="loopIdName">
  <r:var name="baseComponentName" />_<r:var name="componentNumber" />_id
</r:set_var>

<r:set_var name="loopId">
  <r:page:data name="{$loopIdName}" />
</r:set_var>

<r:set_var name="contentLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var> <!-- Can we combine this with others like adverts, profiles? -->

<r:set_var name="roundedPhotos" value="false" />

<r:set_var name="readMoreButtonRegionName">
  read-more-<r:var name="baseComponentName" />-<r:var name="componentNumber" />
</r:set_var> <!-- so we can name the editable region that will determine the "Read More" text for each button -->

<r:set_var name="readMoreContent">
  <r:page:content name="{$readMoreButtonRegionName}" />
</r:set_var> <!-- This is the content that is entered into the custom "Read More" button. We can dynamically pull this in when displaying each button -->

<div class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="wvu-z-index-content mb-2">
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 class="display-3 wvu-shout">Featurettes Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="button-group filter-button-group mb-4">
      <button class="btn btn-sm btn-secondary mb-1" data-filter="*">Show All</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".communications">Communications</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".creative">Creative</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".digital">Digital</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".enrollment-management">Enrollment Management</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".health-sciences">Health Sciences</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".leadership">Leadership</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".marketing">Marketing</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".trademark-and-licensing">Brand and Trademark Licensing</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".video">Video</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".visitors-center">Visitors Center</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".wvu-beckley">WVU Beckley</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".wvu-keyser">WVU Keyser</button>
    </div>

    <div class="grid row">
      <r:root>
        <!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
          and $loopOrder to: "asc" or "desc";
          and $loopLabelsMatch to: "any", "all", or "none". -->
        <r:descendants by="{$loopBy}" order="{$loopOrder}" labels="{$contentLabels}" labels_match="{$loopLabelsMatch}">

          <r:edit_mode_only>
            <r:each limit="1">
              <div class="grid-item col-md-3 <r:page:data name="isotope_classes" /> mb-3 border border-wvu-accent--red">
                <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                  <div class="mb-2">
                    <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img class="card-img-top" src="<r:page:data name="thumbnail_url" />/1720x1720.jpg" alt="<r:page:data name="thumbnail_alt" />"></a>
                  </div>
                </r:if>



                  <h3 class="card-title iowan-old-style-italic mb-1" id="<r:page:slug />-<r:page:id />"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                  <p class="card-text">
                    <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                    <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if>
                  </p>

                  <r:page:if_has_content_for region="{$readMoreButtonRegionName}" always_show_in_edit_mode="true">
                    <a class="btn btn-primary text-white" aria-labelledby="<r:page:slug />-<r:page:id />"><r:editable_region name="{$readMoreButtonRegionName}" type="simple">Read More</r:editable_region></a>
                  </r:page:if_has_content_for>

                  <p class="card-text bg-light mt-1 p-2"><small>This is the template the rest will follow. Edit the button text and utility classes to style. You can also set these globally in the site settings (add link). If you don’t want a button, delete the content.</small></p>

              </div>
            </r:each>
          </r:edit_mode_only>

          <r:each>

            <div class="grid-item col-md-3 <r:page:data name="isotope_classes" /> mb-3">
              <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                <div class="mb-2">
                  <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img class="card-img-top" src="<r:page:data name="thumbnail_url" />/1720x1720.jpg" alt="<r:page:data name="thumbnail_alt" />"></a>
                </div>
              </r:if>



                <h3 class="card-title iowan-old-style-italic mb-1" id="<r:page:slug />-<r:page:id />"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                <p class="card-text">
                  <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                  <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if>
                </p>
                <a class="btn btn-primary btn-sm" aria-labelledby="<r:page:slug />-<r:page:id />" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:if expr="{{ NOT(BLANK(link_text)) }}"><r:page:data name="link_text" /></r:if><r:if expr="{{ BLANK(link_text) }}"><r:var name="readMoreContent" /></r:if></a>



            </div>

          </r:each>

        </r:descendants>
      </r:root>
    </div>

    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="mt-4 wvu-z-index-content">
        <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
          <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div>
</div>

<r:comment><!-- Allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
